/**
 * @file
 * Alert to admin css for alert design.
 */

.multi-image-holder .bx-controls-direction {
  float: right;
  margin-right: 20px;
}
.multi-image-holder .bx-controls-direction a {
  background: url("../images/multi_image_slider_arrow.png") 0 0 no-repeat; 
  width:15px;
  height: 20px;
  display:inline-block;
  text-indent:-9999px;
  margin:0 5px;
 }
.multi-image-holder .bx-controls-direction a.bx-next {
  background-position:-21px 0;
}
.multi-image-holder .bx-controls-direction a.bx-prev {
  background-position: 0 0;
}
